
a:hover{

  background-color:orange;
}
i:hover{
  background-color: #00ff40;
}
p
{
	font-family: 'Montserrat-dark', sans-serif;
	font-size:1rem;
	line-height: 2rem;

}
img {
  max-width: 100%;
  border-radius: 1px; 
 }
 .top-container{
background-color: #00ff40;
 }
 .navigation
 { position: fixed;
 background-color: #00ff40; 
  }
  .card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  font-family: 'Gowun Batang', serif;
}
.card2{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
	background-color:#00ff40; 
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color:#00ff40 ;
  color: white;
}

.contact{

  position:absolute;
  right:0px;
  position:fixed;
  background-color: orange;
  z-index:4;
  
}

.nav-item{
  font-family:'Gowun Batang', serif;

}
.nav-link{
  color:white;
}
.position{
  position: fixed;
  z-index: 1;
}

a{ 
  text-decoration: none;
  color:white;
 }
 .forms{
  color: white;
 }
 @media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}